@import "../../styles/utils";

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: $BtnBorder;
	cursor: pointer;
	transition: $BtnTransition;
	transition-property: color, border-color;
}

.btn--default {
	padding: $BtnDefaultPadding;
	border-radius: $BtnDefaultBorderRadius;
	background-color: $BtnDefaultBgColor;
	box-shadow: $BtnDefaultBoxShadow;

	&:hover,
	&:focus,
	&:active {
		border-color: $BtnDefaultHoverBorderColor;
	}
}

.btn--square {
	@extend .btn--default;
	position: absolute;
	bottom: $BtnSquarePosition;
	right: $BtnSquarePosition;
	z-index: 1000;
	width: $BtnSquareSize;
	height: $BtnSquareSize;
	padding: 0;
}
