@import "../../styles/utils";

.timer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stage {
	letter-spacing: $StageLetterSpacing;
	text-transform: capitalize;
}

.progress {
	position: relative;
	margin: $ProgressMargin;
	display: flex;
	border-radius: $ProgressBorderRadius;
	background-color: $ProgressBgColor;
	box-shadow: $ProgressBoxShadow;
}

.circle {
	transform: rotate(-90deg) scaleY(-1);
	transform-origin: center;
	transition: 1s;
}

.time {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: $TimeFontSize;
}

.controls {
	min-width: $ControlsMinWidth;
	display: flex;
	justify-content: center;

	& > * {
		flex: 1 0 1px;
	}

	& > *:not(:last-child) {
		margin-right: 15px;
	}
}
