// Colors
$col-white: #fff;
$col-white-opacity: rgba($col-white, .4);
$col-black: #212121;
$col-tomato: #ff6347;
$col-dark-blue: #151932;
$col-dark-lighten-blue: lighten($col-dark-blue, 5%);

// Base
$base-font-family: "Open Sans", sans-serif;
$base-font-size: 18px;
$base-font-color: $col-white;
$base-font-weight: 300;
$base-bg-color: $col-dark-blue;

$base-border: 1px solid rgba($col-white, .4);
$base-border-radius: 4px;
$base-transition-time: .25s;

// App
$ContainerPadding: 25px;

// Timer
$StageLetterSpacing: 3px;
$ProgressMargin: 30px 0;
$ProgressBorderRadius: 100%;
$ProgressBgColor: $col-dark-lighten-blue;
$ProgressBoxShadow: 0 0 6px rgba($col-white, .4);
$TimeFontSize: 64px;
$ControlsMinWidth: 175px;

// Btn
$BtnBorder: $base-border;
$BtnTransition: $base-transition-time;
$BtnDefaultPadding: 5px 15px;
$BtnDefaultBorderRadius: $base-border-radius;
$BtnDefaultBgColor: $col-dark-lighten-blue;
$BtnDefaultBoxShadow: 0 0 4px rgba($col-white, .4);
$BtnDefaultHoverBorderColor: $col-white;
$BtnSquarePosition: 15px;
$BtnSquareSize: 40px;

// Stepper
$StepperMarginBottom: 20px;
$StepperLabelMarginRight: 25px;
$StepperLabelFontSize: 16px;
$StepperContainerBorder: $base-border;
$StepperContainerBorderRadius: $base-border-radius;
$StepperContainerTransition: $base-transition-time;
$StepperFocusColor: $col-white;
$StepperContainerHoverBorderColor: $col-white;
$StepperBtnPadding: 0 5px;
$StepperBtnTransition: $base-transition-time;
$StepperBtnColor: $col-white-opacity;
$StepperBtnHoverColor: $col-white;
$StepperInputWidth: 50px;
$StepperInputPadding: 2px 5px;

// Settings
$SettingsMaxWidth: 300px;
$SettingsPadding: 25px 15px;
$SettingsBgColor: $col-dark-lighten-blue;
$SettingsTransition: .5s;

// Separator
$SeparatorMargin: 20px 0;
$SeparatorBorderBottom: $base-border;

// Checkbox
$CheckboxLabelFontSize: 16px;
$CheckboxCheckSize: 20px;
$CheckboxCheckBorder: $base-border;
$CheckboxCheckBorderRadius: $base-border-radius;
$CheckboxCheckHoverColor: $col-white;
$CheckboxCheckIconSize: 14px;
$CheckboxCheckTransitionTime: $base-transition-time;
