@import "../../styles/utils";

.settings {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 500;
	height: 100%;
	width: 95%;
	max-width: $SettingsMaxWidth;
	padding: $SettingsPadding;
	background-color: $SettingsBgColor;
	transition: $SettingsTransition;
}

.settings--hidden {
	transform: translateX($SettingsMaxWidth);
}

.settings--visible {
	transform: translateX(0);
}
