@import "../../styles/utils";

.settings {
	position: absolute;
	left: 50%;
	padding: 15px;
	background-color: $col-dark-lighten-blue;
	transition: 1s;
	transform: translateX(-50%);
}

.settings--hidden {
	top: -50%;
}

.settings--visible {
	top: 50%;
	transform: translate(-50%, -50%);
}
